/*basic reset*/

* {
  margin: 0;
  padding: 0;
}


/*adding a black bg to the body to make things clearer*/

body {
  background: black;
  width: 35em;
  margin: 0 auto;
  font-family: "Lucida Console", Monaco, monospace;
}

canvas {
  display: block;
}
